---
import Layout from '../layouts/Layout.astro';
---

<Layout name="About me | David Romero">
    <h1 class="text-4xl flex text-center justify-center mt-10 font-extralight tracking-wider">About me</h1>
</Layout>