<div class="w-full bg-zinc-900 flex items-center p-5 boder border-b-1 border-zinc-700">
    <div class="flex flex-row max-w-lg mx-auto w-full items-center text-center justify-center gap-7 text-xl">
        <a href="/">Index</a>
        <a href="/about">About me</a>
        <a href="/tecnologies">Tecnologies</a>
        <a href="/projects">Projects</a>
        <a href="/7HHEP">7HHEP</a>
    </div>
</div>