<nav id="header-nav" class="w-full bg-zinc-900 flex items-center p-7 border 
border-zinc-700 fixed top-0 z-50 ">
    <div class="flex flex-row max-w-lg mx-auto w-full items-center text-center justify-center gap-7 text-xl">
        <a class="hover:text-zinc-400 transition-all" href="/">Index</a>
        <a class="hover:text-zinc-400 transition-all" href="/about">About me</a>
        <a class="hover:text-zinc-400 transition-all" href="/technologies">Technologies</a>
        <a class="hover:text-zinc-400 transition-all" href="/projects">Projects</a>
        <a class="hover:text-zinc-400 transition-all" href="/7HHEP">7HHEP</a>
    </div>
</nav>